NEXT_PUBLIC_APP_URL=

DATABASE_URL=

AUTH_SECRET=

AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

NEXT_PUBLIC_OPENAI_API_KEY=
NEXT_PUBLIC_GOOGLE_GEMINI_API_KEY=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_STARTER_PLAN_PRICE_ID=
STRIPE_PRO_PLAN_PRICE_ID=
STRIPE_ENTERPRISE_PLAN_PRICE_ID=