@import 'tailwindcss';

:root {
  --primary: #3d37ed;
  --primary-action: #1c15db;
  --secondary: #edc937;
  --secondary-action: #e4bb19;

  --body: #fbfbfc;
  --container: #ffffff;

  --text-primary: #100f15;
  --text-secondary: #7e7e84;

  --border: #e4e4e7;
  --border-action: #cdcdcf;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-action: var(--primary-action);
  --color-secondary: var(--secondary);
  --color-secondary-action: var(--secondary-action);

  --color-body: var(--body);
  --color-container: var(--container);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
  --color-border-action: var(--border-action);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: auto;

  background: var(--color-body);
  color: var(--color-text-primary);
}

a,
input,
button {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-body) inset;
  -webkit-text-fill-color: var(--color-text-primary);
  transition: background-color 5000s ease-in-out 0s;
}
